[submodule "lib/external"]
	path = lib/external
	url = https://github.com/FuzzyYeti523/External-Hack-Utility
[submodule "build/lib/spdlog"]
	path = build/lib/spdlog
	url = https://github.com/gabime/spdlog
