[submodule "lib/Utility"]
	path = lib/Utility
	url = https://github.com/FuzzyYeti523/External-Hack-Utility
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/FuzzyYeti523/Hack-Utility
